<div class="course">
    <div class="race-line" *ngFor="horse of horses"></div>
    <div class="horse-container">
        <div class="horse circle" *ngFor="let horse of horses; let idx = index" 
        [style.background]="horse.colour" 
        [style.top]="idx * 5 + '%'"
        [ngStyle]="{ 'animation': (raceStarted | async ) ? getHorseSpeed(horse.speed, horse.timingFunction) : '' }">
        <span>{{ horse.name }}</span>
        </div>
        <div class="finish-line"></div>
    </div>
</div>