
.horse-container {
    height: 100%;
    .horse {
        position: absolute;

        span {
            position: absolute;
            cursor: pointer;
        }
    }
}

@keyframes horseMove {
    0%   { left: 0 }
    100% { left: calc(100vw - 300px) }
}

.course {
    height: 100%;
}

.finish-line {
    border: 3px solid white;
    position: absolute;
    left: calc(100vw - 320px);
    height: 100%;
}