
.horse-container {
    height: 100%;
    .horse {
        position: absolute;

        span {
            position: absolute;
            cursor: pointer;
        }
    }
}

@keyframes horseMove {
    0%   { left: 0 }
    25%   { left: 25% }
    50%   { left: 50% }
    75%   { left: 75% }
    100% { left: calc(100% - 300px) }
}

.course {
    height: 100%;
}

.finish-line {
    border: 3px solid white;
    position: relative;
    left: calc(100vw - 275px);
    height: 100%;
    width: 0;
}