.odds-container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.panel {
    border: 1px solid black;
}

.race-button-container {
    margin: 10px;
    text-align: center;
}